:root {
  --ivory: #FFFCE9;
  --light-brown: #c4b7a6;
  --dark-brown: #421F02;
  --amber: #FBBC05;
  --green: #DDFFDD;

}

* {
  color: var(--dark-brown);
  background-color: rgb(255, 252, 233);
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  /* position: relative; */
  padding-bottom: 10px;

}

body {
 border-top-style: dotted ;
  border-left-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-color: var(--dark-brown);
  border
}

h1 {
  color: var(--dark-brown);
  text-align: center;
  border: 2px solid black ;
  background-color: var(--green);
  font-size: 50px
}
/* Create a Taco */

#name {
  font-size: 16px;
  padding: 0;
  margin: 10px;
  outline: 0;
  border: 3px solid black;
  background-color: white;
  border-radius: 30px;
}

#image {
  font-size: 16px;
  padding: 0;
  margin: 10px;
  outline: 0;
  border: 3px solid black;
  background-color: white;
  border-radius: 30px;
}


/* Create Button */

#createBtn {
    background-color: var(--green);
    transition-duration: 0.4s;
    padding: 8px 40px;
    border-radius: 45%;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#createBtn:hover {
  background-color: orange;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

p {
  font-size: 25px;
  margin-bottom: auto;
}

#images {
  width: 240px;
   height: 160px;
   height: auto;
   float: none;
   margin: 3px;
   padding: 3px;
   border: 4px solid black;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Update Button */

#updateBtn {
  background-color: var(--green);
  transition-duration: 0.4s;
  padding: 8px 40px;
  border-radius: 45%;
  font-size: 14px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#updateBtn:hover {
  background-color:orange; /* color */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Delete Button */

#deleteBtn {
  background-color: var(--green);
  transition-duration: 0.4s;
  padding: 8px 40px;
  border-radius: 45%;
  font-size: 18px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#deleteBtn:hover {
  background-color:orange; /* color */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
